/pa3/build/
/AI/Project/nbproject/private/
/AI/Project/dist/
/AI/Project/build/
/TelecomLab3/nbproject/private/
/TelecomLab3/build/
/TelecomLab3/dist/
/TelecomProject/nbproject/private/
/TelecomProject/build/
/TelecomClient/nbproject/private/
/TelecomServer/nbproject/private/
/TelecomServer/dist/
/TelecomServer/build/
/TelecomClient/build/
/TelecomProject/TelecomClient/build/
/TelecomProject/TelecomClient/nbproject/private/
/TelecomProject/TelecomServer/build/
/TelecomProject/TelecomServer/dist/
/TelecomProject/TelecomServer/nbproject/private/
/TelecomProject/TelecomClient/dist/